.main__title {
    color: #ffc700;
    font-size: 36px;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    margin: 40px 0;
    padding: 15px 0;
    font-weight: 400;
    border-radius: 25px;
}

.main__card {
    position: relative;
    margin-bottom: 30px;
    display: block;
}

.main__product-code {
    position: absolute;
    bottom: 5px;
    left: 20px;
    background: #000;
    background: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    font-size: 22px;
    padding: 10px;
    border-radius: 0 0 0 20px;
}

.main__image {
    display: block;
    width: 100%;
    height: 500px;
    object-fit: cover;
    border: 5px solid #ffc700;
    border-radius: 25px;
}