@media (max-width: 1199.5px) {}

@media (max-width: 991.5px) {
    .main__title {
        font-size: 32px;
    }

    .promotion__text {
        font-size: 18px;
    }
}

@media (max-width: 767.5px) {
    .promotion__container {
        padding-left: 40px;
    }
}

@media (max-width: 575.5px) {
    .bg {
        margin-left: 10px;
        margin-right: 10px;
    }

    .main__title {
        font-size: 22px;
    }

    .promotion__container {
        padding-left: 10px;
        border-left-width: 10px;
    }

    .promotion__text {
        font-size: 16px;
    }
}